.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	margin: 2rem 2rem;
	padding-top: 4rem;
}

.gallery-item {
	width: 100%;
	height: 100%;
	position: relative;
}

.gallery-item .gallery-image {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery-item .gallery-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.gallery-item:hover .gallery-image img {
	transform: scale(1.1);
}

.project-text {
	text-align: center;
}

.grid {
	margin: 0;
	padding: 0;
}

.grid h3 {
	color: red;
	text-align: center;
}

.modal-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modal-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
